.accept_main_bg{
    background-color: #000101;
    padding: 30px 20px !important;
}
.accept_bg{

    background: linear-gradient(270deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 172, 255, 0.135) 100%);
    border-radius: 45px;
    padding:40px 30px !important ;


}

.accept_h4{
    font-family: "Fredoka", sans-serif;

font-size: 47px;
font-weight: 600;
line-height: 54px;
color: #FFFFFF;
}

.accrpt_pp{


    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}
.get_bton{
    margin-top: 100px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-decoration: none !important;
    color: #00ACFF;
    /* margin-top: 3rem !important; */
}


@media only screen and  (max-width:600px){
    .respo{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .accept_h4 {
        font-size: 38px !important;
        line-height: 41px !important;
    }
}



@media only screen and (min-width:700px ) and (max-width:850px){
    .respo{
        width: 100% !important;
        /* margin-top: 30px !important; */
    }
}