.faq_main_bg {
  background-color: #000000;
  padding: 40px 20px !important;
  position: relative;
}

.upper_clr {
  background: rgba(46, 200, 210, 0.36);
  filter: blur(100px);
  width: 320px;
  height: 300px;
  position: absolute;
  top: 0px !important;
}

.faq_main_heaing {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 43px;
  line-height: 54px;

  color: #ffffff;
  text-align: left !important;
}

.faq_pr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 23px !important;

  color: #9c9c9c;
  text-align: left;
}

.questios {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 10px;

  color: #ffffff;
}

.qu {
  margin-top: 4rem !important;
}

.questionn_btn {
  width: 258px;
  height: 57px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  background: #00acff;
  border: 1px solid rgba(0, 172, 255, 0.9);
  border-radius: 12px;
}

.accordion-item {
  background-color: transparent !important;
  border: none !important;
}

.accordion {
  border: none !important;
  border-color: none !important;
}

.accordion-button {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.faq_para {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 450 !important;
  font-size: 21px;
  line-height: 23px !important;
  text-align: left !important;

  color: #9c9c9c !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
::marker {
  display: none !important;
  list-style: none !important;
}
details > summary:first-of-type {
  list-style: none !important;
  list-style-type: none !important;
}

.accordion-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 550 !important;
  font-size: 24px;
  line-height: 29px;
  z-index: 1  ;

  padding: 22px 0px !important;
  color: #ffffff;
  text-align: center !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: white !important;
}

.read_more {
  color: #00acff !important;
  font-weight: 600 !important;
}

.lower_clr {
  background: rgba(0, 172, 255, 0.24);
  filter: blur(100px);
  position: absolute;
  width: 251px;
  height: 235px;
  
  bottom: 0px !important;
  right: 10px !important;
}

.accordion-body {
  padding-left: 0px !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../Assets/maki_arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../Assets/maki_arrow_blu.svg) !important;
  transform: var(--bs-accordion-btn-icon-transform);
}

@media only screen and (max-width: 600px) {
  .questionn_btn {
    width: 160px !important;
    margin: 20px 0px !important;
  }
  .accordion-button {
  font-size: 16px !important;  
  }
  /* .lower_clr{
    display: none;
  } */

  .upper_clr {
    background: rgba(46, 200, 210, 0.36);
    filter: blur(100px);
    width: 286px;
    height: 300px;
    display: none !important;
    position: absolute;
    top: 0px !important;
  }

  .faq_pr {
    font-size: 19px !important;
    text-align: center !important;
  }
  .questios {
    font-size: 19px !important;
    text-align: center !important;
  }

  .faq_main_heaing {
    font-size: 28px !important;
    line-height: 40px;
    text-align: center !important;
  }
}



@media only screen and (min-width:650px) and (max-width:800px){
  .accordion-button{
    font-size: 21px !important;
  }
}
