.opport_bg {
  background-color: #000000;
  padding: 30px;
}
.opper_h5 {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 54px;
  text-align: center;

  color: #ffffff;
}
.opper_pah {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #9c9c9c;
}

.opper_first_btn {
  width: 258px;
  height: 57px;

  background: #00acff;
  border: 1px solid rgba(0, 172, 255, 0.9);
  border-radius: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

.opper_second_btn {
  width: 258px;
  height: 57px;

  background: #000000;
  border: 1px solid rgba(0, 172, 255, 0.9);
  border-radius: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  text-align: center;
  color: rgba(0, 172, 255, 0.9);
}

@media only screen and (max-width: 600px) {
  .opper_mob_btn {
    width: 50%;
  }

  .opper_first_btn {
    font-size: 16px !important;
  }

  .opper_h5 {
    font-size: 28px !important;
  }

  .opper_pah {
    text-align: center !important;
    font-size: 12px !important;
  }

  .opper_second_btn {
    font-size: 14px !important  ;
  }
}

.opport_bggg {
  color: rgba(51, 51, 51, 0.7);
  height: 3px !important;
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .opper_h5 {
    font-size: 28px !important;
  }

  .opper_first_btn {
    font-size: 16px !important;
  }

  .opper_second_btn {
    font-size: 13px !important;
  }

  .tab_mar {
    margin-top: 10px !important;
  }
}
