@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap");

.main_footer_bg {
  background-color: #000000 !important;
  padding: 25px 20px !important;
}

.footer_heading {
  font-family: "Fredoka", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.social_icons_main {
  background: rgba(0, 172, 255, 0.9);
  border-radius: 12px;
  width: 43px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon_size {
  font-size: 24px !important;
}

.footer_links_header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  /* text-align: center; */
  margin-bottom: 0px !important;
  margin-top: 10px !important;

  color: #ffffff;
}

.main_footer_links{
  text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #9C9C9C;
padding: 10px 0px !important;
margin-bottom: 0px !important;
}


.main_footer_links:hover{
  color: #9C9C9C !important; 
}

.deco{
  text-decoration: none;
}
