@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap");

.main_footer_bg {
  background-color: #000000 !important;
  padding: 25px 20px 0px 20px !important;
}

.footer_heading {
  font-family: "Fredoka", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.social_icons_main {
  background: rgba(0, 172, 255, 0.9);
  border-radius: 12px;
  width: 43px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon_size {
  font-size: 24px !important;
}

.footer_links_header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 0px !important;
  margin-top: 10px !important;

  color: #ffffff;
}

.main_footer_links {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #9c9c9c;
  padding: 10px 0px !important;
  margin-bottom: 0px !important;
}

.main_footer_links:hover {
  color: #9c9c9c !important;
}

.deco {
  text-decoration: none;
}

.copy_right {
  font-family: "Roboto";
  font-style: normal;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #9c9c9c;
  border-top: 1px solid rgba(51, 51, 51, 0.7);
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .footer_links_header {
    font-size: 18px;
  }
}
