.home_first_bg {
  background-color: #000000;
  padding: 20px 20px  10px 20px!important;
  position: relative;
}
.upppper_clr{
  background: rgba(0, 172, 255, 0.9);
filter: blur(100px);
position: absolute;
width: 100px;
height: 100px;
top: 50px;
}

.main_home_heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 43px !important;
  line-height: 54px !important;
  text-align: left;

  color: #ffffff !important;
}

.home_tet {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px !important;

  color: #9c9c9c !important;
  text-align: left;
}

.animmma{
  margin-top: -5rem !important;
}
.ex_button {
  width: 258px;
  height: 57px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;

  background: #00acff;
  border-radius: 12px;
  outline: none !important;
  border: none !important;
}


.get_text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
width: 278px;
height: 26px;
}


.home_lwer_clr{
  
background: rgba(0, 172, 255, 0.9);
filter: blur(100px);
position: absolute;
width: 134px;
height: 134px;
bottom: 0px ;
right: 10px !important;
}



@media  only screen and (max-width:600px){
    .ex_button{
        width: 100% !important;
    }
    .get_text{
        width: 100% !important;
    }

    .main_home_heading {
      font-size: 31px  !important;
      line-height: 38px !important;
    }


    .animmma{
      margin-top: 10px !important;
    }
}

@media only screen and (min-width:650px) and (max-width:900px){
  .animmma {
    margin-top: -1rem !important;
    
}

.home_first_bg{
  padding-top: 2rem !important;
}

.ex_button {
  font-size: 18px !important  ;
}
.get_text {
  font-size: 17px !important;
  width: 320px !important
  ;
}
}